<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

     <link rel="stylesheet" href="../public/stylesheets/style.css">
    <meta charset="utf-8">
    <title> MOVING GAME</title>

  </head>
  <body>

    <div id="container">
      <div id="guy"></div>
      <div id="bullet"></div>
    </div>



<script type="text/javascript">
  let guy=document.getElementById('guy');
  var container=document.getElementById('container');

  var guyHorizontal = 0;
  var guyVertical = 0;


  function anim(e){
    //Right
    if(e.keyCode == 39){
      if(guyHorizontal != 550){
        guyHorizontal +=50;
        guy.style.left = guyHorizontal + 'px';
        document.getElementById("guy").style.backgroundImage="url('../public/images/right.png')";

      }
    }
    //Left
    if(e.keyCode == 37){
      if(guyHorizontal != 0){
        guyHorizontal -=50;
        guy.style.left = guyHorizontal + 'px';
        document.getElementById("guy").style.backgroundImage="url('../public/images/left.png')";
      }
    }
    // Up
    if(e.keyCode == 38){
      if(guyVertical != 0){
        guyVertical -=50;
        guy.style.top = guyVertical + 'px';
        document.getElementById("guy").style.backgroundImage="url('../public/images/top.png')";
      }
    }
    // Down
    if(e.keyCode == 40){
      if(guyVertical != 350){
        guyVertical +=50;
        guy.style.top = guyVertical + 'px';
        document.getElementById("guy").style.backgroundImage="url('../public/images/down.png')";
      }
    }
  }

// ULmovement(get.chomp,)
//
// function ULmovement(code,properties){
//   if(code){
//     if(properties != 0){
//       properties -= 50;
//       if(properties == guyVertical){
//
//       }
//
//     }
//   }
// }


var myVar = setInterval(bulletMove, 1000);

var bulletHorizontal = 0;

function bulletMove() {
  var bullet=document.getElementById('bullet');
   bulletHorizontal += 50;
   bullet.style.left = bulletHorizontal + 'px';
   removeElement();
}

function removeElement() {
  var bullet=document.getElementById('bullet');
  bullet.remove();
}

  document.onkeydown = anim

</script>

  </body>
</html>
