  <head>
    <link rel="stylesheet" href="/stylesheets/start.css">
    <meta charset="utf-8">
    <title>GET READY</title>
  </head>
  <body>
    {{title}}
    <div id="startscreen">
      <form class="startbtn" action="/play">
        <button type="submit">START</button>
      </form>
    </div>
  </body>
