  <head>
    <link rel="stylesheet" href="/stylesheets/start.css">
    <meta charset="utf-8">
    <title>GET READY</title>
  </head>
  <body>
    {{title}}
    <div id="startscreen">
      <!-- <h1> MOVING GAME </h1> -->
      <img id="gametitle" src="../images/gametitle.png">
      <form class="startbtn" action="/play">
        <button id ="sbtn" type="submit"><img src="../images/startbutton.png" id="sbtn"></button>
      </form>
      <form class="leaderboardbtn" action="/leaderboard">
        <button id="lbtn" type="submit"><img src="../images/leaderboardtitle.png" id="lbtn"></button>
      </form>
      <form class="instructionsbtn" action="/instructions">
        <button id="lbtn" type="submit"><img src="../images/instructions.png" id="ibtn"></button>
      </form>
    </div>

  </body>
