  <head>

    <meta charset="utf-8">
    <title> MOVING GAME</title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" href="#">

  </head>
  <body>
    <div id="timer"></div>
    <div id="container">
      <audio id="life_sound">
        <source src="https://opengameart.org/sites/default/files/life_pickup_0.mp3" type="audio/mp3">
      </audio>
      <audio id="grunt">
        <source src="../audio/gruntsound.wav" type="audio/wav">
      </audio>
      <audio id="death">
        <source src="https://opengameart.org/sites/default/files/1_8.mp3" type="audio/mp3">
      </audio>
      <!-- <audio id="backing_track">
        <source src="https://opengameart.org/sites/default/files/Irrational%20Machines%20-%20RPG%20Title%20Screen%20Music%20Pack%20-%2001%20Title%20Screen.wav" type="audio/wav">
      </audio> -->

      <div id="guy">

        <img style="height: 180px; width: 100px" id="guy_spritesheet" src="../images/sprite5.png" alt="guy" />
        <p id="canUse"></p>
      </div>

      <div id="exit1" class="exit" style="left:550px; top:0px">
        <form id="nextLevel" action="/level3">
          <img style="height: 50px; width: 550px" id="teleporter" src="../images/teleporter.png" alt="teleporter" />
        </form>
      </div>


    </div>

    <div id="weaponarea">
      <div class="weaponbox" id="weapon0"></div>
      <div class="weaponboxSelected" id="weapon1"></div>
      <div class="weaponbox" id="weapon2"></div>
    </div>

    <div>
      <h1 id="heartDisplay">3 hearts</h1>
      <h1 id="keyDisplay">0 keys</h1>
    </div>
    <form action="/">
      <button type="submit" id="bbtn"><img id="bbtn" src="../images/backbutton.png"></button>
    </form>
    <form id="dead" action="/death">
   </form>
  </body>

  <script type="text/javascript" src="src/shooting.js"></script>
  <script type="text/javascript" src="src/database.js"></script>
  <script type="text/javascript" src="src/player_movement.js"></script>
  <script type="text/javascript" src="src/enemies.js"></script>
  <script type="text/javascript" src="src/Boss.js"></script>
  <script type="text/javascript" src="src/inventory.js"></script>
  <script type="text/javascript" src="src/timer.js"></script>
  <script type="text/javascript" src="src/walls.js"></script>
  <script type="text/javascript" src="src/hearts.js"></script>
  <script type="text/javascript" src="src/keys.js"></script>
  <script type="text/javascript" src="src/doors.js"></script>
  <script>
    level2Enemies();


    // Inventory
    var playerInventory = new Inventory();
    document.onkeydown = anim

  </script>
</html>
