<head>

  <meta charset="utf-8">
  <title> MOVING GAME</title>

  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="shortcut icon" href="#">

</head>
<body>
  <div><span id="timer"></span></div>
  <div id="container">
    <audio id="life_sound">
      <source src="https://opengameart.org/sites/default/files/life_pickup_0.mp3" type="audio/mp3">
    </audio>
    <audio id="fake_news">
      <source src="../audio/fakenews1.mp3" type="audio/mp3">
    </audio>
    <audio id="grunt">
      <source src="../audio/gruntsound.wav" type="audio/wav">
    </audio>
    <audio id="death">
      <source src="https://opengameart.org/sites/default/files/1_8.mp3" type="audio/mp3">
    </audio>
    <audio id="backing_track">
      <source src="https://opengameart.org/sites/default/files/Irrational%20Machines%20-%20RPG%20Title%20Screen%20Music%20Pack%20-%2001%20Title%20Screen.wav" type="audio/wav">
    </audio>

    <div id="guy">

      <img style="height: 180px; width: 100px" id="guy_spritesheet" src="../images/sprite5.png" alt="guy" />
        <p id="canUse"></p>
      </div>

    <div id="bullet"></div>


    <div id="exit1" class="exit" style="left:200px; top:0px">
        <form id="nextLevel" action="/level5">
          <img style="height: 50px; width: 550px" id="teleporter" src="../images/teleporter.png" alt="teleporter" />
        </form>
    </div>

    <div id="exit1" class="exit" style="left:350px; top:0px">
      <form id="nextLevel" action="/level5">
        <img style="height: 50px; width: 550px" id="teleporter" src="../images/teleporter.png" alt="teleporter" />
      </form>
    </div>

    <div id="exit1" class="exit" style="left:500px; top:0px">
      <form id="nextLevel" action="/level5">
        <img style="height: 50px; width: 550px" id="teleporter" src="../images/teleporter.png" alt="teleporter" />
      </form>
    </div>





  </div>

  <div id="weaponarea">
      <div class="weaponboxSelected" id="weapon0">
        <a href="#" class="imageWeapon">
            <!--image here-->
            <img src="../images/guns/pistol.png" height="100%" alt="pistol" border=0 style="border:0; text-decoration:none; outline:none"/>
        </a>
      </div>
      <div class="weaponbox" id="weapon1">
        <a href="#" class="imageWeapon">
            <!--image here-->
            <img src="../images/guns/rifle.png" height="100%" alt="rifle" border=0 style="border:0; text-decoration:none; outline:none;"/>
        </a>
      </div>
      <div class="weaponbox" id="weapon2"></div>
    </div>



  <div>
    <h1 id="scoreDisplay">Score: 0</h1>
    <h1 id="heartDisplay">3 hearts</h1>
    <h1 id="keyDisplay">0 keys</h1>
  </div>
  <form action="/">
    <button type="submit" id="bbtn"><img id="bbtn" src="../images/backbutton.png"></button>
  </form>
  <form id="dead" action="/death">
 </form>
</body>

<script type="text/javascript" src="src/shooting.js"></script>
<script type="text/javascript" src="src/database.js"></script>
<script type="text/javascript" src="src/player_movement.js"></script>
<script type="text/javascript" src="src/enemies.js"></script>
<script type="text/javascript" src="src/walls.js"></script>
<script type="text/javascript" src="src/doors.js"></script>
<script type="text/javascript" src="src/keys.js"></script>
<script type="text/javascript" src="src/hearts.js"></script>
<script type="text/javascript" src="src/inventory.js"></script>
<!-- <script type="text/javascript" src="src/timer.js"></script> -->
<script>
  level4walls()
  level4Enemies();
  level4hearts();
  level4keys();
  level4doors();

  // Inventory
  var playerInventory = new Inventory();
  document.onkeydown = anim
</script>
</html>
