  <head>

    <meta charset="utf-8">
    <title> MOVING GAME</title>

    <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
    <div id="container">
      <audio id="life_sound">
        <source src="https://opengameart.org/sites/default/files/life_pickup_0.mp3" type="audio/mp3">
      </audio>
      <audio id="backing_track">
        <source src="https://opengameart.org/sites/default/files/Irrational%20Machines%20-%20RPG%20Title%20Screen%20Music%20Pack%20-%2001%20Title%20Screen.wav" type="audio/wav">
      </audio>
      <div id="heart1" class="heart" style="left:200px; top:200px"></div>
      <div id="heart2" class="heart" style="left:400px; top:300px"></div>
      <div id="heart3" class="heart" style="left:500px; top:100px"></div>
      <div id="guy"></div>
      <div id="bullet"></div>
      <div id="box1" class="box" style="left:50px; top:50px"></div>
      <div id="box2" class="box" style="left:100px; top:0px"></div>
      <div id="box3" class="box" style="left:150px; top:100px"></div>

      <!-- <div id="box3" class="box" style="left:150px; top:100px"></div>
      <div id="box3" class="box" style="left:150px; top:100px"></div> -->
    </div>
    <form action="/">
      <button type="submit" id="bbtn"><img id="bbtn" src="../images/backbutton.png"></button>
    </form>
  </body>

  <script type="text/javascript" src="src/player_movement.js"></script>
   <script type="text/javascript" src="/src/enemies.js"></script>

  <script>
    document.onkeydown = anim
  </script>
</html>
