  <head>

    <meta charset="utf-8">
    <title> MOVING GAME</title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" href="#">

  </head>
  <body>
    <div><span id="timer"></span></div>
    <div id="container">
      <audio id="life_sound">
        <source src="https://opengameart.org/sites/default/files/life_pickup_0.mp3" type="audio/mp3">
      </audio>
      <audio id="fake_news">
        <source src="../audio/fakenews1.mp3" type="audio/mp3">
      </audio>
      <audio id="grunt">
        <source src="../audio/gruntsound.wav" type="audio/wav">
      </audio>
      <audio id="death">
        <source src="https://opengameart.org/sites/default/files/1_8.mp3" type="audio/mp3">
      </audio>
      <!-- <audio id="backing_track">
        <source src="https://opengameart.org/sites/default/files/Irrational%20Machines%20-%20RPG%20Title%20Screen%20Music%20Pack%20-%2001%20Title%20Screen.wav" type="audio/wav">
      </audio> -->
      <div id="heart1" class="heart" style="left:300px; top:0px"></div>
      <div id="heart2" class="heart" style="left:300px; top:200px"></div>
      <div id="heart3" class="heart" style="left:550px; top:350px"></div>
      <div id="heart4" class="heart" style="left:0px; top:250px"></div>
      <div id="guy">

        <img style="height: 180px; width: 100px" id="guy_spritesheet" src="../images/sprite5.png" alt="guy" />
        <p id="canUse"></p>
      </div>

      <div class="box" style="left:100px; top:0px"></div>
     <div class="box" style="left:250px; top:0px"></div>
     <div class="box" style="left:400px; top:0px"></div>
     <div class="box" style="left:450px; top:0px"></div>
     <div class="box" style="left:500px; top:0px"></div>
     <div class="box" style="left:50px; top:50px"></div>
     <div class="box" style="left:250px; top:50px"></div>
     <div class="box" style="left:400px; top:50px"></div>
     <div class="box" style="left:150px; top:100px"></div>
     <div class="box" style="left:400px; top:100px"></div>
     <div class="box" style="left:500px; top:100px"></div>
     <div class="box" style="left:100px; top:150px"></div>
     <div class="box" style="left:250px; top:150px"></div>
     <div class="box" style="left:300px; top:150px"></div>
     <div class="box" style="left:350px; top:150px"></div>
     <div class="box" style="left:400px; top:150px"></div>
     <div class="box" style="left:500px; top:150px"></div>
     <div class="box" style="left:550px; top:150px"></div>
     <div class="box" style="left:0px; top:200px"></div>
     <div class="box" style="left:50px; top:200px"></div>
     <div class="box" style="left:100px; top:200px"></div>
     <div class="box" style="left:250px; top:200px"></div>
     <div class="box" style="left:50px; top:250px"></div>
     <div class="box" style="left:300px; top:250px"></div>
     <div class="box" style="left:450px; top:250px"></div>
     <div class="box" style="left:500px; top:250px"></div>
     <div class="box" style="left:50px; top:300px"></div>
     <div class="box" style="left:200px; top:300px"></div>
     <div class="box" style="left:350px; top:300px"></div>
     <div class="box" style="left:200px; top:350px"></div>
     <div class="box" style="left:500px; top:350px"></div>


      <div id="key1" class="key" style="left:350px; top:0px"></div>
      <div id="door1" class="door" style="left:200px; top:150px"></div>

      <div id="exit1" class="exit" style="left:550px; top:0px">
        <form id="nextLevel" action="/level2">
          <img style="height: 50px; width: 550px" id="teleporter" src="../images/teleporter.png" alt="teleporter" />
        </form>
      </div>

    </div>

    <div id="weaponarea">
      <div class="weaponboxSelected" id="weapon0"></div>
      <div class="weaponbox" id="weapon1"></div>
      <div class="weaponbox" id="weapon2"></div>
    </div>



    <div>
      <h1 id="scoreDisplay">Score: 0</h1>
      <h1 id="heartDisplay">3 hearts</h1>
      <h1 id="keyDisplay">0 keys</h1>
    </div>
    <form action="/">
      <button type="submit" id="bbtn"><img id="bbtn" src="../images/backbutton.png"></button>
    </form>
    <form id="dead" action="/death">
   </form>
  </body>

  <script type="text/javascript" src="src/shooting.js"></script>
  <script type="text/javascript" src="src/database.js"></script>
  <script type="text/javascript" src="src/player_movement.js"></script>
  <script type="text/javascript" src="src/enemies.js"></script>
  <script type="text/javascript" src="src/Boss.js"></script>
  <script type="text/javascript" src="src/inventory.js"></script>
  <script type="text/javascript" src="src/timer.js"></script>
  <script>
    level1Enemies();
    // Inventory
    var playerInventory = new Inventory();
    document.onkeydown = anim

  </script>
</html>
