body {
  background-color: black;
}

#leaderboard{
  height: 400px;
  width: 600px;
  outline: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/leaderboardbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: yellow; */
}

#data {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#bbtn {
  width: 400px;
  outline: none;
  background-color: transparent;
  border: none;
}
