.key{
   position: absolute;
   height: 30px;
   width: 30px;
   outline: 1px solid block;
   /* background-color: black; */
   background-image: url('../images/key.png');
   background-size: contain;
   background-repeat: no-repeat;
   left: 300px;
   top: 200px;
   z-index: -10
 }

 .bush{
   position: absolute;
   height: 50px;
   width: 50px;
   outline: 1px solid block;
   background-image: url("../images/bush.svg");
   background-size: contain;
   background-repeat: no-repeat;
   left: 300px;
   top: 200px;
 }

 .enemy{
   position: absolute;
   height: 50px;
   width: 50px;
   outline: 1px solid block;
   background-image: url('../images/enemy5.gif');
   background-size: contain;
   background-repeat: no-repeat;
   z-index: -10
 }
