body {
  background-color: black;
}

#startscreen{
  height: 400px;
  width: 600px;
  outline: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/startbg.png');
  background-size: contain;
  /* background-color: green; */
}

#gameover_screen{
  height: 400px;
  width: 600px;
  outline: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/game_over.png');
  background-size: contain;
  /* background-color: green; */
}

#sbtn {
  position: absolute;
  top: 80%;
  left: 20%;
  width: 100px;
  outline: none;
  background-color: transparent;
  border: none;
}

#lbtn {
  position: absolute;
  top: 80%;
  left: 38%;
  width: 220px;
  outline: none;
  background-color: transparent;
  border: none;
}

#gametitle {
  position: relative;
  left: 25%;
  top: 20%;
}
/* h1 {
  color: yellow;
  position: relative;
  left: 25%;
  font-size: 44px;
  text-shadow: 10px 10px #000;
} */
