
    #container{
      height: 400px;
      width: 600px;
      outline: 1px solid black;
      position: relative;
    }
    #guy{
      position: absolute;
      height: 50px;
      width: 50px;
      outline: 1px solid block;
      background-image: url('../images/top.png');
      background-size: contain;
      background-repeat: no-repeat;
      left: 0px;
    }
     /* #bullet{
      position: absolute;
      height: 50px;
      width: 50px;
      outline: 1px solid block;
      background-color: blue;
      left: 0px;
    }  */
