body {
  background-color: black;
}

#container{
  height: 400px;
  width: 600px;
  outline: 1px solid black;
  background-image: url('../images/grass.png') ;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#weaponarea{
  height: 100px;
  width: 600px;
  outline: 1px solid black;
  background-color: black ;
  background-size: contain;
  position: absolute;
  top: 90%;
  left: 57%;
  transform: translate(-50%, -50%);
}

.weaponbox{
  float:left;
  height: 100px;
  width: 200px;
  outline: 1px solid black;
  background-color: gray ;
  background-size: contain;

  transform: translate(-50%, -50%);
}
.weaponboxSelected{
  float:left;
  height: 100px;
  width: 200px;
  outline: 2px solid red;
  background-color: gray ;
  background-size: contain;

  transform: translate(-50%, -50%);
}

#guy{
  position: absolute;
  height: 60px;
  width: 65px;
  outline: 1px solid block;
  /* background-image: url("../images/trump-down.png") ;
  background-size: contain;
  background-repeat: no-repeat; */
  left: 0px;
  overflow: hidden;
}
.bullet{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  background-color: blue;
  left: 0px;
}

.box{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  background-image: url("../images/stonewall2.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.heart{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url("../images/heart4.gif");
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.key{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url('../images/key.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.door{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url('../images/door.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.enemy{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  background-size: contain;
  background-repeat: no-repeat;
}

.exit{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url('../images/door.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 550px;
  top: 0px;
}

#heartDisplay {
  position: relative;
  top: 500px;
  color: red;
}

#keyDisplay {
  position: relative;
  top: 520px;
  color: red;
}

#bbtn {
/* position: relative;
top: 0px; */
width: 400px;
outline: none;
background-color: transparent;
border: none;
}

:root {
  --pixel-size: 1;
}

#guy_spritesheet {
  animation: moveSpritesheet 0.5s steps(6) infinite;
  position: absolute;
}

.face-down {
  top: calc(0px * var(--pixel-size));
}

.face-up {
  top: calc(-120px * var(--pixel-size));
}

.face-left {
  top: calc(-180px * var(--pixel-size));
}

.face-right {
  top: calc(-60px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(-1px,0,0)
  }
  to {
    transform: translate3d(-100%,0,0)
  }
}
