#container{
  height: 400px;
  width: 600px;
  outline: 1px solid black;
  background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/grass_17.png") ;
  background-size: contain;
  position: relative;
}
#guy{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  background-image: url("https://www.pngfind.com/pngs/m/436-4369822_50-x-50-pixel-art-hd-png-download.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0px;

  /* Text  */
  color: red;
  font-size: 25px;

}
.bullet{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  background-color: blue;
  left: 0px;
}

.box{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/a_0.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.heart{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/heart_7.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.key{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url('../images/key.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.door{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  /* background-color: black; */
  background-image: url('../images/door.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 300px;
  top: 200px;
}

.enemy{
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid block;
  background-size: contain;
  background-repeat: no-repeat;
}
